@import './core/reset';
@import './core/variables';

.header{
  margin: auto;
  display: grid;
  width:40rem;
  height: 15rem;
  align-items: center;
}

.link {
    display: none;
    display: inline;
    padding: 0.3rem 1rem;
  }

.page > .details {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    margin: 1rem;

.card__title {
      font-size: 2rem;
    }

.card__description {
      font-size: 1rem;
    }
}

.landing {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    margin: 2rem;
  }
  
.labelCity{
      display: block;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-back {
  position: relative;
  z-index: 1;
}

.image-front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.filters{
  width:100%;
  border: none;
  font-family: $hp;
  font-size: xx-large;
  color:gold;
  display: flex;
  align-items: center;
  fieldset { border: none; font-size: x-large; color:gold; font-family:$hp; gap:2rem;}
  label {border: none; font-size: x-large; color:gold; font-family:$hp;}
  background-color: #740001;
}

.Button{
  font-size: x-large;
  color:black; 
  font-family:$hp;
  margin: auto;
  gap:20rem;
}

.card{
  border:solid black 2px;
}

.col2{
  
}