@import './core/reset';
@import './core/variables';

.link {
    display: none;
    display: inline;
    padding: 0.3rem 1rem;
  }

.page > .details {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    margin: 1rem;

.card__title {
      font-size: 2rem;
    }

.card__description {
      font-size: 1rem;
    }
}

.landing {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    margin: 2rem;
  }
  
.labelCity{
      display: block;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-back {
  position: relative;
  z-index: 1;
}

.image-front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}